<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Profile - Hotel Management System</title>
    <link rel="stylesheet" href="walter.css">
</head>
<body>
    <div class="header">Staff Profile <br> <span style="font-size:16px; font-weight:normal;">Hotel Management System</span></div>

    <div class="container">
        <div class="section">
            <h3>Personal Details</h3>
            <div class="details">
                <div>
                    <label for="firstName">First Name:</label>
                    <p></p>
                </div>
                <div>
                    <label for="lastName">Last Name:</label>
                <p></p>
                </div>
                <div>
                    <label for="gender">Gender</label>
                   <p></p>
                </div>
                <div>
                    <label for="contact">Contact Number:</label>
                  <p></p>
                </div>
                <div>
                    <label for="idNumber">ID Number:</label>
                    <p></p>
                </div>
                <div>
                    <label for="Joining Date">Joining Date:</label>
                   <p></p>
                </div>
                <div style="width: 100%;">
                    <label for="email">Email:</label>
                  <p></p>
                </div>
            </div>
        </div>

        <div class="section">
            <h3>Job Details</h3>
            <div class="details">
                <div>
                    <label for="Role">Role:</label>
                   <p></p>
                </div>
                <div>
                    <label for="Salary">Salary:</label>
                    <p></p>
                </div>
               
                <div>
                    <label for="shiftstart">Shift Start:</label>
                   <p></p>
                </div>
                <div>
                    <label for="Shiftend">Shift End:</label>
                    <p></p>
                </div>
               
        </div>

        <div class="section">
            <h3>Service Requests</h3>
            <div class="details">
                <label for="Staffschedulereview">Staff Schedule Review:</label>
                <p></p>
                <label for="Monthlyperformancereview">Monthly Performance Review:</label>
                <p></p>
                <label for="Budgetapproval">Budget Approval:</label>
                <p></p>
                <label for="Facilitymaintenancereport">Facility Maintenance Report:</label>
                <p></p>      
        </div>
    </div>
</body>
</html>
