<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image:url('hotel.jpg');
            }
        </style>
        <title>
            LOGIN FORM
        </title>
    </head>
    <body>
        <h3 style="color: chartreuse;font-family: 'Times New Roman', Times, serif;font-weight: 800;font-size: 15;text-align: center;">Clients and their roles</h3>
        <formform="Login-form"Onsubmit="Submit-form()">
            <button id="btn">Reception</button>
            <button id="btn">House keeping</button>
            <button id="btn">waiter</button>
            <button id="btn">Driver</button>
            <script>
                var btn=document.getElementsById(btn);
                button.onclick=funtion;
                function onbuttonclicked(){
                    if(btn=Driver){
                        <a href="Driver.html">drivers info</a>
                    };
                }
            </script>
           
    </body>
</html>