<!DOCTYPE html>
    <Head>
        <Title>Home page</Title>
    </Head>

    <body background="mycar.png">        

    <H1><em>html</em></H1>
    <H2>Introduction</H2>
    <H3><i>table</i></H3>
    <H4><u>Forms</u></H4>
    <H5><strong>List</strong></H5>
    <H6><sub>image</sub>walter</H6>
    </body>

    <p style=font-size:13;>Introduction to web design</p>
    <p style="font-style: italic;"> Terminologies commonly used</p>
    <p>html practicals</p>
    <p style="color:blue;"><pre>This course unit introduces the leaner to concepts of
         internet programming.By the end of the coourse unit the learner 
         should be able to
          design develop static website</p>
        <pre>Welcome to muranga university 
                       school of computing and information
                                   technology.
          <p>welcome to murang'a university
                     school of computing and information 
                               technology
                                scit department
                                   cs
                                    IT</p> 
    <p><img src="https://www.degrootetrucks.com/en/trucks/tipper-2-way-3-way/mercedes-benz-actros-3340-6x6-16010148"width="220"height="300"></p>
    
</HTML>